@import url("http://fonts.googleapis.com/css?family=Bree+Serif|Merriweather:400,300,700,900|Droid+Sans:400,700");

/* Reset Styles */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }

  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  min-height: 100%;
  height: auto;
}

body  {
  font-family: Merriweather, serif;
  font-size: 1rem;
  line-height: 160%;
  *zoom: 1;
}


h1, h2, h3, h4, h5, h6 {
  font-family: 'Bree Serif', serif;
  font-weight: normal;
  color: #475b62;
  text-shadow: 1px 1px rgb(255,255,255, 1);
}

a {
  color: #145266;
  font-family: Bree Serif, serif;
}

h1{
  color: #145266;
  font-size: 2.2rem;
  line-height: 100%;
  margin-bottom: 10px;
}

h2{ 
  font-size: 1.5rem;
  line-height: 90%;
  color: #c61c6f;
}

h3{ 
  margin-top: 0;
  color: #bd3613;
  line-height: 110%;
  margin-bottom: 5px;
}

div.main {
  padding: 15px;
  background-color: #fff;
  text-align: center; 
  border: 1px solid #ddd;
  border-radius: 5px;
}

div.page {
  width: 100%;
}

.input-group {
  width: 100%;
}

div.item {
  padding: 25px;
  border-bottom: 3px solid #475b62;
}

div.item:last-child {
  border-bottom: none;
}

label {
  padding-left: 30px;
  padding-right: 30px;
}

label h3 {
  font-size: 1.5em;
}

div.counter {
  position: fixed;
  top: 0;
  right: 50px;
  color: green;
}

div.counter h3 {
  font-size: 4.5em;
}

input[type="radio"].form-control {
  width: 50px;
  margin: 15px;
}

div.btn-container {
  margin: 15px;
}

div.result-item {
  border-bottom: 3px solid #475b62;
  padding: 10px;
  height: 50px;
}

div.result-item span.label {
  border: 3px solid #145266;
  height: 30px;
  line-height: 20px;
  width: 70px;  
}

.correct {
  color: green;
}

.false {
  color: red;
}

div.chart {
  height: 100px;
  width: 100%;
  margin-top: 25px;
  border-left: 3px solid #475b62;
  border-bottom: 3px solid #475b62;
  position: relative;
}

span.chart {
  position: absolute;
  height: 40px;
  width: 0%;
  line-height: 40px;
  display: block;
  color: #475b62;
}

.correct-chart {
  bottom: 5px;
  background-color: green;
}

.false-chart {
  bottom: 50px;
  background-color: red;
}





